10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [1]:
with open('hightemp.txt') as io:
    print(len(list(io)))

24

In [2]:
import re
with open('hightemp.txt') as io:
    for line in io:
#         line = re.sub(r"\t+", " ", line)
        line = line.split()
        print(line)

['高知県', '江川崎', '41', '2013-08-12']
['埼玉県', '熊谷', '40.9', '2007-08-16']
['岐阜県', '多治見', '40.9', '2007-08-16']
['山形県', '山形', '40.8', '1933-07-25']
['山梨県', '甲府', '40.7', '2013-08-10']
['和歌山県', 'かつらぎ', '40.6', '1994-08-08']
['静岡県', '天竜', '40.6', '1994-08-04']
['山梨県', '勝沼', '40.5', '2013-08-10']
['埼玉県', '越谷', '40.4', '2007-08-16']
['群馬県', '館林', '40.3', '2007-08-16']
['群馬県', '上里見', '40.3', '1998-07-04']
['愛知県', '愛西', '40.3', '1994-08-05']
['千葉県', '牛久', '40.2', '2004-07-20']
['静岡県', '佐久間', '40.2', '2001-07-24']
['愛媛県', '宇和島', '40.2', '1927-07-22']
['山形県', '酒田', '40.1', '1978-08-03']
['岐阜県', '美濃', '40', '2007-08-16']
['群馬県', '前橋', '40', '2001-07-24']
['千葉県', '茂原', '39.9', '2013-08-11']
['埼玉県', '鳩山', '39.9', '1997-07-05']
['大阪府', '豊中', '39.9', '1994-08-08']
['山梨県', '大月', '39.9', '1990-07-19']
['山形県', '鶴岡', '39.9', '1978-08-03']
['愛知県', '名古屋', '39.9', '1942-08-02']

In [3]:
import re
with open('hightemp.txt') as io:
    for line in io:
        line = re.sub(r"\t+", " ", line)
        cols = line.split()
        for i in [1,2]:
            with open('col{0}.txt'.format(i), 'a') as io1:
                io1.write(cols[i-1]+'\n')

In [4]:
with open('col1.txt') as c1, open('col2.txt') as c2, open('col1&2.txt', 'w') as c12:
    for i, j in zip(c1, c2):
        c12.write('{0}\t{1}\n'.format(i[:-1],j[:-1]))

15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [5]:
# 15.py

In [7]:
# 16
N = int(input('Enter N > '))
spl = ['']*N
with open('hightemp.txt') as f:
    for idx, line in enumerate(f.readlines()):
        i = idx%3
        spl[i] += line
    for i in range(N):
        print(i, ":\n", spl[i])

Enter N > 3
0 :
 高知県	江川崎	41	2013-08-12
山形県	山形	40.8	1933-07-25
静岡県	天竜	40.6	1994-08-04
群馬県	館林	40.3	2007-08-16
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
千葉県	茂原	39.9	2013-08-11
山梨県	大月	39.9	1990-07-19

1 :
 埼玉県	熊谷	40.9	2007-08-16
山梨県	甲府	40.7	2013-08-10
山梨県	勝沼	40.5	2013-08-10
群馬県	上里見	40.3	1998-07-04
静岡県	佐久間	40.2	2001-07-24
岐阜県	美濃	40	2007-08-16
埼玉県	鳩山	39.9	1997-07-05
山形県	鶴岡	39.9	1978-08-03

2 :
 岐阜県	多治見	40.9	2007-08-16
和歌山県	かつらぎ	40.6	1994-08-08
埼玉県	越谷	40.4	2007-08-16
愛知県	愛西	40.3	1994-08-05
愛媛県	宇和島	40.2	1927-07-22
群馬県	前橋	40	2001-07-24
大阪府	豊中	39.9	1994-08-08
愛知県	名古屋	39.9	1942-08-02

In [7]:
# 17
with open('hightemp.txt') as f:
    lines = f.readlines()
    lines = list(map(lambda s: s.split(), lines))
    result = set(map(lambda i:i[0], lines))
    print(result)

{'静岡県', '群馬県', '高知県', '千葉県', '山形県', '愛知県', '愛媛県', '大阪府', '埼玉県', '山梨県', '和歌山県', '岐阜県'}

In [17]:
# 18
import pandas as pd
df = pd.read_csv('hightemp.txt', sep='\t', header=None)
result = df.sort_values(by=2)
# result

In [28]:
# 19
import pandas as pd
df = pd.read_csv('hightemp.txt', sep='\t', header=None)
pref = list(df[0])
freq = dict()
for p in pref:
    if p in freq:
        freq[p] += 1
    else:
        freq[p] = 1
result = sorted(list(freq.items()), key=lambda i: -i[1])
for i in result:
    print(i[0])

埼玉県
山形県
山梨県
群馬県
岐阜県
静岡県
愛知県
千葉県
高知県
和歌山県
愛媛県
大阪府